

.App-header {
  text-align: center;
  background-color: #282c34;
  min-height: 50px;
  font-size: calc(10px + 2vmin);
  color: white;
}

#CytoScape-canvas {
  width: 700px;
  height: 700px;
  display: block;
  
  outline-style: dotted;
  outline-color: palegreen;
}